.whole{
    margin-top: 40px;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    box-shadow: 0.5px 0.5px 8px #808080;
  }

  
  table, th, td {
      border: 1px solid rgba(235, 221, 221, 0);
      border-collapse: collapse;
    }
  th,td{
      padding: 20px;
      font-size: large;
      font-family: "Rowdies", sans-serif;
      font-weight: 400;
      font-style: normal;
  }
  th{
    font-weight: bold;
    font-family: monospace;
    font-style: normal;
    background-color: #f95738;
    color: white;
  }
td{
  color: white;
  background-color: #faf0ca;
  color: #f95738;
  font-family: monospace;
}